/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/config/
*.gem
.env

# rspec failure tracking
.rspec_status

# byebug history
.byebug_history

# do not version specific excluded fields
excluded_fields.yml

# do not version users (but let the fixtures be versioned)
users.csv
