---
http_interactions:
- request:
    method: post
    uri: https://rest.apisandbox.zuora.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Zuora-Request-Id:
      - "<ZUORA_REQUEST_ID>"
    body:
      encoding: UTF-8
      string: '{"access_token":"<A_ZUORA_ID>","token_type":"bearer","expires_in":3599,"scope":"tenant.<TENANT_ID>
        entity.<AN_ENTITY> service.usage.write user.<A_ZUORA_ID> service.usage.update
        platform.write service.usage.delete","jti":"<A_ZUORA_ID>"}'
  recorded_at: Sat, 16 Sep 2017 17:05:16 GMT
- request:
    method: post
    uri: https://rest.apisandbox.zuora.com/v1/action/create
    body:
      encoding: UTF-8
      string: '{"objects":[{"Name":"a test account using REST"}],"type":"Account"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"Errors":[{"Code":"MISSING_REQUIRED_VALUE","Message":"Missing required
        value: Currency"}],"Success":false}]'
  recorded_at: Sat, 16 Sep 2017 17:05:16 GMT
recorded_with: VCR 3.0.3
